body {
    background: url('https://source.unsplash.com/random/1920x1080') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  #clock-container {
    font-size: 72px;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
  